autostart/
BetterDiscord/
BetterDiscord Installer/
Code/
configstore/
dconf/
discord/
geany/
google-chrome/
gtk-2.0/
gtk-3.0
htop/
inkscape/
mps-youtube/
mpv/
nitrogen/
plugged/
PreMiD/
pulse/
pulseaudio-ctl/
ranger/
rofi/
Thunar/
vlc/
wal/
wpg/
xfce4/
ytmdl/
coc/
mimeapps.list
pavucontrol.ini
QtProject.conf
coc-settings.json
.vimrc