*

!bspwm/*
!sxhkd/*
!cava/*
!dunst/*
!htop/*
!kitty/*
!mpd/*
!ncmpcpp/*
!nvim/*
!picom/*
!polybar/*
!rofi/*
!slop/*
!.base_profile
!.baserc
!.gitignore
!.vimrc
!.xinitrc
!.zshrc
!2021-11-13-08:22:10-screenshot.png
!README.md