Android Open Source Project/
autostart/
BetterDiscord/
BetterDiscord Installer/
BraveSoftware/ 
Code/
configstore/
coc/
dconf/
discord/
geany/
google-chrome/
gtk-2.0/
gtk-3.0
mps-youtube/
mpv/
nitrogen/
nautilus/
plugged/
PreMiD/
pulse/
pulseaudio-ctl/
Postman/
procps/
ranger/
Thunar/
vlc/
wal/
wpg/
xfce4/
ytmdl/
yarn/
coc/
mimeapps.list
pavucontrol.ini
QtProject.conf
coc-settings.json
.vimrc
